body{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
.site-header{
   
    background-color: #ab183d;

}
.cls-header-details{
    color: white;
    margin-left: auto;
    margin-right: auto;
}
.cls-navigation{
    margin: 0px;
    padding: 0px;
}
.cls-navigation>li{
    list-style: none;     
    width: 135px;
    padding: 18px;   
    background-color: black;    
    border: 1px solid white;
}
.cls-navigation>li>a{
    text-decoration: none;    
    color:white;
  
}
/* site description */
.cls-site-description{
    text-align: center;
}
.cls-site-description>.cls-site-description-heading{
    font-size: 24px;
    font-weight: bold;
    padding-top: 13px;
    padding-bottom: 13px;
}
.cls-site-description>.cls-site-description-red-heading{
    font-size: 15px;
    color: red;
    padding-bottom: 13px;
}
.cls-site-description>.cls-site-description-social-link{
    font-size: 18px;
}

/* site description */

/* marquee */
.cls-marque{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}


/* marquee */

/* advertisement board ..........................*/

.advertise1,.advertise2{
    width: auto;
    height: 250px;
    padding-top: 13px;
    padding-bottom: 13px;
}
/* <!--sarkariresult tools -->*/

.cls-sarkari-result-tools>a{
    padding: 2px 61px 13px 61px;
    font-size: 24px;
    text-decoration: none;
    list-style: none;
    background-color: blue;
    color: white;
}

/* current job opening */

.cls-current-jobs{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,1fr);
}
.cls-current-jobs-item{
    font-weight: 700;
    width: 246px;
    height: 60px;
    padding: 2px;
    padding: 13px 0;
    background-color: #868a08;
    color: white;
    border: 1px solid white;
    text-align: center;
}
.cls-current-jobs-item>a{
    color: white;
}
/* current job opening */

.style-container>ul>li>a{
    font-size: 19px;
    line-height: 1.8px;
    
}
.style-container>ul>li{
    padding: 5px;
}
.cls-view-more{
    text-align: right;
    
}
.cls-view-more{
    list-style: none;
    margin-top: 47px;
}
.cls-view-more>a{
    font-size: large;
    font-weight: 700;
    color: #0000a0;
    text-decoration: none;
   
}
.site-objective-container{
    text-align: center;
    
}
.site-objective-container>p{
    font-size: 16px;
    padding: 15px;
}
.cls-main-col3-1>ul>li{
    
    padding: 17px;

} 
.cls-main-col3-1>ul>li>a{
    font-size: 22px;
}
